<tr class="info">
  <td> Average Response Time </td>
  <td> <%= average %> milliseconds</td>
</tr>
<tr class="active">
  <td> Minimum Response Time </td>
  <td> <%= min %> milliseconds </td>
</tr>
<tr class="info">
  <td> Maximum Response Time </td>
  <td> <%= max %> milliseconds </td>
</tr>
